/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

/*=== RESET END ===*/

body {
    background-color: whitesmoke;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.25px;

}

body::-webkit-scrollbar {
    width: 0.65rem;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.548)
}

body::-webkit-scrollbar-thumb {
    background: rgba(233, 84, 16, 0.548)
}

main {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
}

h1 {
    font-size: 22px;
    margin: 0px auto;
    min-width: 2rem;
}

.main-header {
    display: flex;
    width: auto;
    height: 4.5rem;
    background-color: var(--bg-secondary);
    padding-top: 20px;
    padding-right: 10px;
    margin-left: 8rem;
}

.navbar {
    width: 9rem;
    height: 5.75rem;
    position: fixed;
    background-color: var(--bg-secondary);
    transition: height 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    height: inherit;
}

.nav-logo {
    margin: 1.5rem;
    display: flex;
    height: max-content;
    color: var(--text-secondary);
    text-decoration: none;
    align-items: center;
}

.nav-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar-nav:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    display: none;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}

.link-text {
    display: none;
}

.nav-link i {
    min-width: 1.5rem;
    margin-right: 0.5rem;
    filter: grayscale(1);
}

.nav-link:hover .fa-align-left {
    transition: color 500ms ease;
    color: red;
    filter: grayscale(0);
}

.navbar:hover {
    height: 100vh;
    width: 9rem;
}

.navbar:hover .nav-link {
    display: flex;

}

.navbar:hover .link-text {
    display: block;

}

.hover-box {
    min-width: 69px;
    width: 64px;
    height: 4.5rem;
    display: flex;

}

.header-logo {
    border-radius: 64px;
    background-image: url('/Images/fire.png');
    background-color: white;
    min-width: 64px;
    width: 64px;
    height: 64px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline;
    align-items: center;
}

.logo-list {
    height: 5rem;
    width: auto;
    background-color: var(--bg-primary);
    list-style: none;
    padding: 4px;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: flex-start;
    top: 4.5rem;
    right: 7rem;
}

.logo-item {
    display: none;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.list-link {
    text-decoration: none;
}

.list-text {
    color: var(--text-primary)
}

.header-logo:hover {
    filter: grayscale(0.2);
}

.hover-box:hover .logo-list {
    position: relative;
    display: flex;
    height: 9rem;
    padding: 0.69rem;
    margin: 0 auto;
    width: 10rem;
}

.hover-box:hover .logo-item {
    display: flex;
}

.header-content {
    background-color: whitesmoke;
    min-width: 80%;
    width: 85%;
    height: 4rem;
    margin: 0px;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.header-content:hover .title {
    animation-name: mozog;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/*.proj-container {
    margin: 0px auto;
    width: 70%;
}*/

.intro {
    width: 100%;
    margin: 1rem auto;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-indent: 5px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.profile-img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 10rem;
    float: left;
}

.proj-header {
    width: 100%;
    font-size: 30px;
    font-weight: 900;
    font-variant: small-caps;
    text-align: center;
    text-decoration: wavy;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.crt-proj {
    width: 100%;
    height: 30rem;
    min-width: 10rem;
    display: flex;
    border: 3px solid black;
    margin: 0px auto;
}

.main-posts {
    margin: 0px auto;
}

@keyframes mozog {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-5deg);}
    50%{transform: rotate(5deg);}
    75%{transform: rotate(-5deg);}
    100%{transform: rotate(0deg);}
}
